body {
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #393b54;
    margin: 0;

    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* CONTAINER
------------------------------------*/

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER
------------------------------------*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header--sublist {
    background-color: #718bfb;
    position: static;
}

.logo {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;
}

.header__nav {
    font-family: 'Ubuntu';    
    font-weight: 300;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 80px;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    text-decoration: underline;
}

.header__icons {
    display: flex;
}

.social__item {
    width: 30;
    height: 30px;
    margin-right: 45px;
}

.social__item:last-child {
    margin-right: 0px;
}

/* INTRO
------------------------------------*/

.intro {
    height: 1000px;
    background: url(img/backgrounds/bg.png)
    center no-repeat;
    background-size: cover;
}

.intro__inner {
    display: flex;
}

.description {
    width: 100%;
    padding-top: 245px;
}

.main__description {
    font-family: "Ubuntu";
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
}

.sub__description {
    width: 100%;
    max-width: 450px;

    font-family: "Ubuntu";
    color: #ffffff;
    font-weight: 500;
}

.buttons {
    margin-top: 60px;
}

.btn {
    width: 100%;
    max-width: 160px;
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    margin: 0 auto;
    border-radius: 2px;

    font-family: "Ubuntu";
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.btn--red {
    margin-right: 25px;
    background-color: #de6a46;
    transition: background-color .1s linear;
}

.btn--red:hover {
    background-color: #ee4612;
}

.btn--blue {
    background-color: #5066c5;
    transition: background-color .1s linear;
}

.btn--blue:hover {
    background-color: #2c429d;
}

.images {
    padding-top: 205px;
    display: flex;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1000;
}

.text-in-circle {
    text-transform: uppercase;
    font-family: "Ubuntu";
    font-weight: 700;
    color: #ffffff;
}

.text-in-circle--text_1 {
    color: #7da1fb;
}

.text-in-circle--text_2 {
    color: #708afb;
}

.circle--red {
    width: 90px;
    height: 90px;
    background: #de6a46;
    border-radius: 50%;

    top: 300px;
    left: 10%;
}

.circle--blue {
    width: 90px;
    height: 90px;
    background: #5066c5;
    border-radius: 50%;

    top: 270px;
    left: 7%;
}

.circle--yellow {
    width: 57px;
    height: 57px;
    background: #f7eb6e;
    border-radius: 50%;

    top: 580px;
    right: 9%;
}

.circle--white {
    width: 57px;
    height: 57px;
    background: #ffffff;
    border-radius: 50%;

    top: 85px;
    right: 18%;
}

.phone {
    padding-left: 100px;
}

.scrolling {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
}

.foot__intro__inner {
    display: flex;
    justify-content: center;
    padding-top: 38px;
}

.text-in-circle--text_3 {
    color: #e0555a;
}

/* MAIN
------------------------------------*/

.main__inner {
    margin-top: 200px;
    width: 100%;
}

.lines_smb {
    display: block;
    text-align: center;
}

.headline_smb {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 36px;
    color: #718bfc;
    text-transform: uppercase;
}

.subline_smb {
    padding-top: 35px;
    font-family: "Ubuntu";
    font-weight: 300px;
}

.features {
    display: flex;

    margin-top: 135px;
}

.--block-features {
    display: flex;
    margin-right: 45px;
}

.--block-features:last-child {
    margin-right: 0px;
}

.headline {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 24px;
    color: #393a54;
}

.text {
    padding-top: 30px;
    font-size: 16px;
    color: #b1b1b1;
}

.text-block {
    margin-left: 20px;
}

/* JSWIDGET
------------------------------------*/

.slideshow__inner {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.wid {
    height: 550px;
    width: 300px;
    position: absolute;
}

.slides-one .wid {
    right: 10%;
    z-index: 2;
}

.slides-three .wid {
    left: 10%;
    z-index: 2;
}

.slides-two .wid {
    right: 33%;
    z-index: 3;
}

.shadow {
    height: 560px;
    width: 310px;
    position: absolute;
}

.block-shadow {
    padding-top: 25px;
}

.slides-one .shadow {
    right: 5%;
    z-index: 1;
}

.slides-three .shadow {
    left: 5%;
    z-index: 1;
}

.slides-two .shadow {
    right: 33%;
    z-index: 1;
}

.slides-one img,
.slides-two img,
.slides-three img {
    transition: transform 0.5s, scale 0.5s;
}

.--enter_two img,
.slides-two .--wid_shadow {
    transform: scale(1.1);
}

.--enter_one img,
.--enter_three img,
.slides-one .--wid_shadow,
.slides-three .--wid_shadow {
    transform: scale(0.9);
}

/* SCREENSHOTS
------------------------------------*/

.main__inner--screenshots,
.screenshots {
    margin-top: 550px;
}

.screenshots {
    display: block;
}

.lines_smb--screenshots {
    padding-top: 150px;
}

.block-screenshots__phone {
    position: relative;
}

.screenshots__description {
    margin-top: 165px;
    display: flex;
}

.block-screenshots__phone {
    width: 100%;
    max-width: 570px;
    padding-left: 90px;
}

.subscreen__description {
    padding-top: 85px;
    margin-right: 90px;
    display: block;
}

.--margin {
    margin-bottom: 50px;
}

.headline-screen__description {
    text-transform: uppercase;
    color: #718bfb;
    font-size: 36px;
    font-weight: 700;
    font-family: "Ubuntu";
}

.subline-screen__description {
    width: 100%;
    max-width: 495px;
    
    color: black;
    font-size: 24px;
    font-family: "Ubuntu";
}

.block-circle {
    display: flex;
}

.on__screen-circle-blue {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.--blue {
    background: #6880e8;
}

.on__screen-circle-yellow {
    width: 95px;
    height: 95px;
    border-radius: 50%;

    bottom: 230px;
    right: 34%;
    z-index: 3;
}

.--yellow {
    background: #f7eb6e;
}

.on__screen-circle-blue {
    width: 95px;
    height: 95px;
    border-radius: 50%;

    bottom: 430px;
    left: 49%;
    z-index: 3;
}

.--text__on-screen-weather {
    text-transform: none;
}

.--text__on-screen {
    font-size: 29px;
}

.screenshots__phone__inner {
    position: relative;
    z-index: 2;
}

.comment-weather {
    position: absolute;
    z-index: 1;
    writing-mode: vertical-rl;
    font-size: 256px;
    color: #f4f4f7;
    font-family: "Ubuntu";
    font-weight: 300;

    top: -75px;
    left: 44%;
}

.--orange {
    background: #dea054;
}

.--red {
    background: #de6a46;
}

.--aquamarin {
    background: #ccfaee;
}

.--black-blue {
    background: #7e92c5;
}

.text-weather--rainy {
    color: #818b90;
}

.subscreen__description--last {
    padding-left: 35px;
}

/* FOOTER
------------------------------------*/

.footer {
    background-color: #393b54;
    height: 370px;
}

.footer__inner {
    padding: 95px 0;
}

.logo--orange {
    color: #de6a46;
}

.logo--blue {
    color: #718bfc;
}

.borderline {
    border-bottom: 3px solid #464868;
}

.author {
    margin-top: 50px;
    text-align: center;

    color: #585c85;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 300;
}